.Home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Home h1 {
    font-weight: 700;
    margin: 24px auto;
}

.Home-menu {
    display: flex;
    justify-content: center;
    width: 75%;
    flex-wrap: wrap;
}